<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post </title>
</head>
<body>
    <form action="/post" method="POST">
        <div>
            <label for="title">Tile </label>
            <input type="text" id="title">
        </div>
        <div>
            <label for="title">Author</label>
            <input type="text" id="author">
        </div>
    </form>
</body>
</html>